footer
    .container.text-center
        span(class='.text-muted') &copy; 2018 Azavea. Built for the
        |
        |
        a(href='https://fellowship.azavea.com/') 2018 Azavea Open Source Fellowship.
