# Import values from local environment
# If you want to set them specifically, change them to assignments
USER
AWS_PROFILE

# Enter your database credentials here:
PROD_TILEGARDEN_DB=
PROD_TILEGARDEN_HOST=
PROD_TILEGARDEN_PASSWORD=
PROD_TILEGARDEN_USER=

# Function config information
LAMBDA_REGION=us-east-1
LAMBDA_TIMEOUT=5
LAMBDA_MEMORY=3008
LAMBDA_ROLE=role
LAMBDA_SUBNETS=subnet1,subnet2,subnet...N
LAMBDA_SECURITY_GROUPS=group1,group2,group...N
